agm-map {
    height: 300px;
  }

    
  #map2, #pano {
    float: left;
  
    width: 45%;
    height: 300px;
    
  }

  .img-review {
    height:300px;
    width:auto;/*maintain aspect ratio*/
    max-width:500px;
  }