<div class="" style="padding: 5px 25px 25px 25px;">
  <button type="button" class="btn btn-blue-grey  waves-light" (click)="onCancel()" mdbWavesEffect>
    <i class="fa fa-step-backward pr-2"></i>ย้อนกลับ</button>

  <form [formGroup]="Form" autocomplete="off" (ngSubmit)="onSubmit()" class="modal-body mb-0">

    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-list prefix grey-text"></i>
        <input formControlName="key" type="text" id="key" class="form-control" mdbActive>
        <label for="key">id-key</label>
      </div>

      <div class="md-form">
        <i class="fa fa-list prefix grey-text"></i>
        <input formControlName="status" type="text" id="status" class="form-control" mdbActive>
        <label for="status">status</label>
      </div>

      <div class="md-form">
        <i class="fa fa-list prefix grey-text"></i>
        <input formControlName="missionStatus" type="text" id="status" class="form-control" mdbActive>
        <label for="status">สถานะปฏิบัติการ</label>
      </div>

      <div class="md-form">
        <i class="fa fa-list prefix grey-text"></i>
        <input formControlName="missionNumber" type="text" id="missionNumber" class="form-control" mdbActive>
        <label for="missionNumber">เลขปฏิบัติการ</label>
      </div>
    </div>

    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">

      <div class="md-form">
        <i class="fa fa-ambulance prefix grey-text"></i>
        <input formControlName="team_key" type="text" id="teamCode" class="form-control" mdbActive>
        <label for="teamCode">รหัสคัน</label>
      </div>

      <div class="md-form">
        <i class="fa fa-ambulance prefix grey-text"></i>
        <input formControlName="team_Code" type="text" id="teamCode" class="form-control" mdbActive>
        <label for="teamCode">รหัสหน่วย</label>
      </div>
      <div class="md-form">
        <i class="fa fa-ambulance prefix grey-text"></i>
        <input formControlName="team_AmbulanceNumber" type="text" id="form1" class="form-control" mdbActive>
        <label for="form1">คันที่</label>
      </div>

      <div class="md-form">
        <i class="fa fa-ambulance prefix grey-text"></i>
        <input formControlName="team_Name" type="text" id="form1" class="form-control" mdbActive>
        <label for="form1">หน่วยปฏิบัติ</label>
      </div>

      <div class="md-form">
        <i class="fa fa-ambulance prefix grey-text"></i>
        <input formControlName="team_Level" type="text" id="form1" class="form-control" mdbActive>
        <label for="form1">ระดับหน่วยปฏิบัติ</label>
      </div>

    </div>
    <br>

    <!-- ---------------สถานที่เกิดเหตุ--------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-map-marker prefix grey-text"></i>
        <input formControlName="scene_type" type="text" id="form5" class="form-control" mdbActive>
        <label for="form5">ประเภทเหตุการณ์</label>
      </div>

      <div class="md-form">
        <i class="fa fa-map-marker prefix grey-text"></i>
        <input formControlName="report_time" type="text" id="form5" class="form-control" mdbActive>
        <label for="form5">เวลารับแจัง</label>
      </div>


      <div class="md-form">
        <i class="fa fa-map-marker prefix grey-text"></i>
        <input formControlName="report_location" type="text" id="form6" class="form-control" mdbActive>
        <label for="form6">พิกัด </label>
        <div id="map"></div>
      </div>

      <div class="md-form col-md-12">
        <i class="fa fa-map-marker prefix grey-text"></i>
        <input formControlName="report_locationDetail" type="text" id="form5" class="form-control" mdbActive>
        <label for="form5">สถานที่เกิดเหตุ</label>
      </div>


      <div class="md-form">
        <i class="fa fa-map-marker prefix grey-text"></i>
        <input formControlName="report_scene" type="text" id="form7" class="form-control" mdbActive>
        <label for="form7">เหตุการณ์รับแจ้ง</label>
      </div>


      <div class="md-form" >
        <i class="fa fa-gratipay prefix grey-text"></i>
        <input formControlName="report_symptom" type="text" id="form3" class="form-control" mdbActive>
        <label for="form3">อาการรับแจ้ง</label>
      </div>

      <div class="md-form" >
        <i class="fa fa-gratipay prefix grey-text"></i>
        <input formControlName="report_moreDetail" type="text" id="form3" class="form-control" mdbActive>
        <label for="form3">รายละเอียดอื่นๆ</label>
      </div>

      <div class="md-form">
        <i class="fa fa-photo prefix grey-text"></i>
        <input formControlName="report_image" type="text" id="image" class="form-control" mdbActive>
        <label for="image">ภาพเหตุการณ์รับแจ้ง</label>
        <img src="{{ item?.report_image }}" width="200px" height="120px">
      </div>

    </div>
    <br>


    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-user-circle prefix grey-text"></i>
        <input formControlName="report_Who" type="text" id="form3" class="form-control" mdbActive>
        <label for="form3">ผู้แจ้ง</label>
      </div>
      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input formControlName="report_Way" type="text" id="report_Way" class="form-control" mdbActive>
        <label for="report_Way">ช่องทางการแจ้ง</label>
      </div>
      <div class="md-form">
        <i class="fa fa-phone prefix grey-text"></i>
        <input formControlName="report_telNumber" type="text" id="form3" class="form-control" mdbActive>
        <label for="form3">เบอร์โทร</label>
      </div>
    </div>
    <br>



    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input formControlName="patient_Name" type="text" id="form3" class="form-control" mdbActive>
        <label for="form3">ชื่อผู้ป่วย</label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input formControlName="patient_Age" type="text" id="form2" class="form-control" mdbActive>
        <label for="form2">อายุ</label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input formControlName="patient_HN" type="text" id="form2" class="form-control" mdbActive>
        <label for="form2">HN</label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input formControlName="patient_ID" type="text" id="form2" class="form-control" mdbActive>
        <label for="form2">เลข 13 หลัก</label>
      </div>

      <div class="md-form">
        <i class="fa fa-photo prefix grey-text"></i>
        <input formControlName="patient_image_ByTeam" type="text" id="image" class="form-control" mdbActive>
        <label for="image">ภาพเหตุการณ์จริง</label>
        <img src="{{ item?.patient_image_ByTeam }}" width="200px" height="120px">
      </div>
    </div>

    <br>

   



    <!-- ----------------------Vital1----------------------------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">

      <div class="md-form col-md-12">
        <i class="fa fa-gratipay prefix grey-text"></i>
        <input formControlName="vitalsign1_symptom_first" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">อาการแรกพบ</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_GSC" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">GCS</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_pupil" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">Pupil</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_o2sat" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">O2sat</label>
      </div>
     
      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_BP_Diastolic" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">BP_Diastolic</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_BP_Systolic" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">BP_Systolic</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_pulse" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">Pulse</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_RR" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">RR</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_temperature" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">Temperature</label>
      </div>

      <div class="md-form">
        <i class="fa fa-heartbeat prefix grey-text"></i>
        <input formControlName="vitalsign1_DTX" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">DTX</label>
      </div>
    </div>
    <br>
    <!-- ----------------------Vital1----------------------------------- -->
    <!-- ----------------------Vital2----------------------------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">

        <div class="md-form col-md-12">
            <i class="fa fa-gratipay prefix grey-text"></i>
            <input formControlName="vitalsign2_symptom_second" type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">อาการเปลี่ยนแปลง</label>
          </div>

        <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_GSC" type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">GCS2</label>
          </div>
    
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_pupil" type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">Pupil2</label>
          </div>
    
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_o2sat" type="number" id="form32" class="form-control" mdbActive>
            <label for="form34">O2sat2_2</label>
          </div>
        
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_BP_Diastolic" type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">BP_Diastolic</label>
          </div>

          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_BP_Systolic" type="text" id="form32" class="form-control" mdbActive>
            <label for="form34">BP_Systolic</label>
          </div>
    
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_pulse" type="number" id="form32" class="form-control" mdbActive>
            <label for="form34">Pulse2</label>
          </div>
    
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_RR" type="number" id="form32" class="form-control" mdbActive>
            <label for="form34">RR2</label>
          </div>
    
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_temperature" type="number" id="form32" class="form-control" mdbActive>
            <label for="form34">Temperature2</label>
          </div>
    
          <div class="md-form">
            <i class="fa fa-heartbeat prefix grey-text"></i>
            <input formControlName="vitalsign2_DTX" type="number" id="form32" class="form-control" mdbActive>
            <label for="form34">DTX2</label>
          </div>
    </div>
    <br>

    <!-- ----------------------Vital2----------------------------------- -->
    <!-- ----------------------Time----------------------------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_report" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">เวลารับแจ้งเหตุ {{ item?.time_report | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_command" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">สั่งการ {{ item?.time_command | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_depart" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">ออกจากฐาน {{ item?.time_depart | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_arrive_scene" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">ถึงที่เกิดเหตุ {{ item?.time_arrive_scene | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_leave_scene" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">ออกจากที่เกิดเหตุ {{ item?.time_leave_scene | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_arrive_hospital" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">ถึง รพ. {{ item?.time_arrive_hospital | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input formControlName="time_arrive_end" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">ถึงฐาน {{ item?.time_arrive_end | date: 'dd/MM/yyyy - HH:mm'}}</label>
      </div>
    </div>
    <br>
    <!-- ----------------------Time----------------------------------- -->
   
    <!-- ----------------------Kilo----------------------------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-arrow-right prefix grey-text"></i>
        <input formControlName="km_start" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">กม.เลขออกฐาน</label>
      </div>

      <div class="md-form">
        <i class="fa fa-arrow-right prefix grey-text"></i>
        <input formControlName="km_depart" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">กม.เลขที่เกิดเหตุ</label>
      </div>

      <div class="md-form">
        <i class="fa fa-arrow-right prefix grey-text"></i>
        <input formControlName="km_hospital" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">กม.ถึงโรงพยาบาล</label>
      </div>

      <div class="md-form">
        <i class="fa fa-arrow-right prefix grey-text"></i>
        <input formControlName="km_end" type="number" id="form32" class="form-control" mdbActive>
        <label for="form34">กม.ถึงฐาน</label>
      </div>

    </div>
    <br>
    <!-- ----------------------Kilo----------------------------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-arrow-right prefix grey-text"></i>
        <input formControlName="diagnosis" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">Diagnosis</label>
      </div>
    </div>
    <br>
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea formControlName="treatment" type="text" id="form8" class="md-textarea" style="height: 100px" mdbActive></textarea>
        <label for="form8">Treatment / Drug</label>
      </div>
    </div>
    <br>
   
    <!-- ----------------------Team----------------------------------- -->
    <div class="row border border-danger rounded" style=" padding: 20px 5px 5px 15px">
      <div class="md-form">
        <i class="fa fa-user-md prefix grey-text"></i>
        <input formControlName="member_doctor" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">แพทย์</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input formControlName="member_one" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">เจ้าหน้าที่ 2</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input formControlName="member_two" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">เจ้าหน้าที่ 2</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input formControlName="member_three" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">เจ้าหน้าที่ 3</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input formControlName="member_driver" type="text" id="form32" class="form-control" mdbActive>
        <label for="form34">พนักงานขับรถ</label>
      </div>

    </div>
    
    <br>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-danger waves-light" mdbWavesEffect type="submit">
            <i class="fa fa-save pr-2" aria-hidden="true"></i>บันทึก / แก้ไข</button>
      </div>
      <div class="col-md-8 text-right">
            <button type="button" class="btn btn-mdb-color waves-light" mdbWavesEffect (click)="onDeleteItem()">
                <i class="fa fa-trash pr-2" aria-hidden="true"></i> ลบ</button>
              <button type="button" class="btn btn-blue-grey  waves-light" (click)="onCancel()" mdbWavesEffect>
                <i class="fa fa-close pr-2"></i>ยกเลิก/ย้อนกลับ</button>
      </div>
    </div>

  </form>
</div>

