<div class="list-group ">

  <a class="btn btn-unique" [routerLink]="['/dashboard']">
    <i class="fa fa-hospital-o pr-2" aria-hidden="true"></i>Dashboard</a>
  <a class="btn btn-unique" [routerLink]="['/detecting']">
    <i class="fa fa-crosshairs  pr-2" aria-hidden="true"></i>Detecting</a>
  <a class="btn btn-pink pr-2" [routerLink]="['/monitoring']">
    <i class="fa fa-heartbeat pr-2" aria-hidden="true"></i>Monitoring</a>
  <a class="btn btn-purple" [routerLink]="['/management']">
    <i class="fa fa-heart pr-2" aria-hidden="true"></i>Management</a>
  <a class="btn btn-red " [routerLink]="['/notification']">
    <i class="fa fa-bell pr-2 " aria-hidden="true"></i>Notification</a>
  <a class="btn btn-green" [routerLink]="['/maps']">
    <i class="fa fa-map pr-2" aria-hidden="true"></i>Maps</a>
  <a class="btn btn-green" [routerLink]="['/maps2']">
    <i class="fa fa-map pr-2" aria-hidden="true"></i>Maps2</a>
  <!-- <a  class="btn btn-yellow " [routerLink]="['/camera']">
    <i class="fa fa-video-camera pr-2" aria-hidden="true"></i>Camera</a>
  <a class="btn btn-yellow " [routerLink]="['/chart']">
    <i class="fa fa-video-camera pr-2" aria-hidden="true"></i>Report</a> -->

</div>

<div> {{ title  }}</div>


