<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="img-fluid" src="{{item?.report_image}}" alt="Card image cap">
        <h5 class="card-title">เหตุการณ์ : {{item?.report_scene}} </h5>
        <p class="card-text">เบอร์โทร : {{ item?.report_telNumber }}</p>
        <p class="card-text">สถานที่เกิดเหตุ : {{ item?.report_locationDetail}}</p>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4" *ngFor="let team of teams | async">
          <div class="card" *ngIf=" team.status == 'isReady'">
            <img class="img-fluid" src="{{ team.image }}" alt="Card image cap">
            <ul class="list-group">
              <li class="list-group-item">{{team.name }}</li>
              <li class="list-group-item">{{team.level }}</li>
            </ul>
            <a class="btn btn-primary waves-light" mdbWavesEffect (click)="onSelectTeam(team)">เลือก</a>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row" *ngIf="selectTeam_name != '' ">
        <div class="alert alert-success col-sm-3">
          ต้นทาง : {{ selectTeam_name }}
        </div>
        <div class="alert alert-success col-sm-3">
          ระยะทาง : {{ distance }}
        </div>
        <div class="alert alert-success col-sm-3">
          เวลา : {{ duration }}
        </div>
      </div>
    </div>

  </div>

  <button type="button" class="btn btn-danger btn-lg " (click)="routePath()">หาเส้นทาง</button>
  <button type="button" class="btn btn-primary btn-lg " (click)="routePathAuto()">หาเส้นทางอัติโนมัติ</button>
  <button type="button" class="btn btn-outline-primary waves-light" (click)="onStreetviewModal()" mdbWavesEffect>StreetView Map</button>
  <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="onDirectionTeamModal()"
    mdbWavesEffect>สั่งทีมช่วยเหลือ</button>
  <button type="button" class="btn btn-primary btn-lg " (click)="onMonitoringModal()">Monitoring</button>
  <button type="button" class="btn btn-primary btn-lg " (click)="onDataManagement()">DataManagement</button>


  <ul *ngFor="let array of calRouteArray">
    <li> {{ array.value.name }} distance : {{array.distance }} timeuse : {{ array.duration }}</li>
  </ul>
  <div>
    <div id="map"></div>
    <div id="right-panel"></div>
  </div>




  <div mdbModal #streetviewModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">StreetView Map</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="streetviewModal.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-ambulance fa-4x mb-3 animated rotateIn"></i>
            <p>{{ item?.report_locationDetail}}</p>
          </div>
        </div>
        <div>
          <div id="pano"></div>
          <div id="map2"></div>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Save changes</button>
          <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="streetviewModal.hide()" mdbWavesEffect>Close</a>
        </div>
      </div>
    </div>
  </div>


  <div mdbModal #directionTeamModal="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">สั่งทีมช่วยเหลือ </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="directionTeamModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2" *ngFor="let team of teams | async">
              <div class="card rounded" *ngIf=" team.status == 'isReady'" [ngClass]="{' success-color ':selectTeam_name === team.name ,'success-black':selectTeam_name != team.name}">
                <img class="img-fluid" src="{{ team.image }}" alt="Card image cap">
                <ul class="list-group">
                  <li class="list-group-item">{{team.name }}</li>
                  <li class="list-group-item">{{team.level }}</li>
                </ul>
                <a class="btn btn-primary waves-light" mdbWavesEffect (click)="onSelectTeam(team)">เลือก</a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg waves-light" (click)="onDirectionTeam(team)" mdbWavesEffect>สั่งการ</button>
          <button type="button" class="btn btn-outline-secondary btn-lg waves-light" data-dismiss="modal" (click)="directionTeamModal.hide()"
            mdbWavesEffect>Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------------monitoringModal------------------- -->
  <div mdbModal #monitoringModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Monitoring</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="monitoringModal.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="row">
            <div class="col-2 btn btn-light-blue btn-sm btn-block">สั่งการ</div>
            <div class="col-3 btn btn-light-blue btn-sm btn-block">ออกจากฐาน</div>
            <div class="col-3 btn btn-light-blue btn-sm btn-block">ถึงที่เกิดเหตุ</div>
            <div class="col-2 btn btn-light-blue btn-sm btn-block">นำส่ง</div>
            <div class="col-3 btn btn-light-blue btn-sm btn-block">ถึงฐาน</div>
        </div>
        <div class="modal-body">
           
          <div class="row">
            <div class="col-8">
              <div class="row">
                  <div class="col border border-info ">
                      <img [src]="item?.report_image" alt="" width="100%">
                  </div>
                  <div class="col border border-info ">
                      <img [src]="item?.patient_image_ByTeam" alt="" width="100%">
                  </div>
                  
                  <div class="col-md-12 border border-info ">
                        <div class="row ">
                          <div id="pano-team"></div>
                          <div id="map2-team"></div>
                        </div>
                          <div class="alert alert-success">
                              พิกัดรถพยาบาล : {{ locationAmbu }} 
                          </div>
                  </div>
                  
              </div>
            </div>

            <div class="col-4">
                <div class="btn-group">
                  
                    <label class="btn btn-blue-grey btn-sm waves-light" (click)="onRadioModel('first')"  mdbRadio="Middle" mdbWavesEffect>
                        first
                    </label>
                    <label class="btn btn-blue-grey  btn-sm waves-light" (click)="onRadioModel('second')" mdbRadio="Right" mdbWavesEffect>
                        second
                    </label>
                </div>
              <!-- -----------vital-sign1------------ -->
              <div *ngIf="radioModel == 'first'">
                <a class="btn btn-blue ">
                  <h6 class="card-title">GCS</h6>
                  <h1>{{ item?.vitalsign1_GSC}}</h1>
                  Coma score</a>

                <a class="btn btn-blue  ">
                  <h6 class="card-title">Pupil</h6>
                  <h1>{{item?.vitalsign1_pupil}} </h1>
                  รูม่านตา</a>

                <a class="btn btn-blue ">
                  <h6 class="card-title">BP</h6>
                  <h1>{{item?.vitalsign1_BP_Diastolic}}/{{item?.vitalsign1_BP_Systolic}}</h1>
                  ความดันโลหิต</a>

                <a class="btn btn-blue ">
                  <h6 class="card-title">Pulse</h6>
                  <h1>{{ item?.vitalsign1_pulse }}</h1>
                  ชีพจร</a>

                <a class="btn btn-blue">
                  <h6 class="card-title">RR</h6>
                  <h1>{{ item?.vitalsign1_RR }}</h1>
                  หายใจ</a>
                
                <a class="btn btn-blue">
                  <h6 class="card-title">Temp</h6>
                  <h1>{{item?.vitalsign1_temperature}}</h1>
                  อุณหภูมิ</a>
                <a class="btn btn-blue">
                  <h6 class="card-title">O2</h6>
                  <h1>{{item?.vitalsign1_o2sat}}</h1>
                  O2 sat</a>
                <a class="btn btn-blue btn-block ">
                  <h6 class="card-title">DTX</h6>
                  <h1>{{item?.vitalsign1_DTX}} mg%</h1>
                  Blood Sugar</a>
              </div>
              <!-- -----------/vital-sign1------------ -->
              <!-- -----------vital-sign2------------ -->
              <div *ngIf="radioModel == 'second'">
                <a class="btn btn-indigo ">
                  <h6 class="card-title">GCS</h6>
                  <h1>{{ item?.vitalsign2_GSC}}</h1>
                  Coma score</a>

                <a class="btn btn-indigo  ">
                  <h6 class="card-title">Pupil</h6>
                  <h1>{{item?.vitalsign2_pupil}} </h1>
                  รูม่านตา</a>

                <a class="btn btn-indigo ">
                  <h6 class="card-title">BP</h6>
                  <h1>{{item?.vitalsign2_BP_Diastolic}}/{{item?.vitalsign2_BP_Systolic}}</h1>
                  ความดันโลหิต</a>

                <a class="btn btn-indigo ">
                  <h6 class="card-title">Pulse</h6>
                  <h1>{{ item?.vitalsign2_pulse }}</h1>
                  ชีพจร</a>

                <a class="btn btn-indigo">
                  <h6 class="card-title">RR</h6>
                  <h1>{{ item?.vitalsign2_RR }}</h1>
                  หายใจ</a>
                
                <a class="btn btn-indigo">
                  <h6 class="card-title">Temp</h6>
                  <h1>{{item?.vitalsign2_temperature}}</h1>
                  อุณหภูมิ</a>
                <a class="btn btn-indigo">
                  <h6 class="card-title">O2</h6>
                  <h1>{{item?.vitalsign2_o2sat}}</h1>
                  O2 sat</a>

                <a class="btn btn-indigo btn-block ">
                  <h6 class="card-title">DTX</h6>
                  <h1>{{item?.vitalsign2_DTX}} mg%</h1>
                  Blood Sugar</a>
              </div>
               <!-- -----------/vital-sign2------------ -->
            </div>
          </div>
         
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Save changes</button>
            <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="monitoringModal.hide()" mdbWavesEffect>Close</a>
          </div>
        </div>
      </div>
    </div>

    <!-- -------------------------/monitoringModal------------------- -->
 