
        // body {
        //     margin-top: 80px;
        //     margin-bottom: 100px;
        //   }
        //   #map {
        //     width: 90%;
        //     height: 320px;
        //   }
          
          #map2, #pano {
            float: left;
          
            width: 45%;
            height: 250px;
            
          }
          
        //   #select{
        //     width: 90%;
        //   }
           
          
        //   #right-panel {
        //     font-family: 'Roboto','sans-serif';
        //     line-height: 30px;
        //     padding-left: 5px;
        //   }
          
        //   #right-panel select, #right-panel input {
        //     font-size: 10px;
        //   }
          
        //   #right-panel select {
        //     width: 100%;
        //   }
          
        //   #right-panel i {
        //     font-size: 10px;
        //   }
        //   #right-panel {
        //     height: 100%;
        //     float: right;
        //     width: 350px;
        //     overflow: auto;
        //   }
          
        //   #right-panel{
        //     background-color: rgb(191, 222, 243);
        //   }
          
        //   #floating-panel{
          
        //     background-color: rgb(191, 222, 243);
        //   }
          