<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>

<div class="row">

  <div class="list-card">
    <a class="btn btn-red ">
      <i class="fa fa-bell pr-2 " aria-hidden="true"></i>
      <h5 class="card-title">128 case</h5>
      รอดำเนินการ</a>
    <a class="btn btn-yellow " >
      <i class="fa fa-video-camera pr-2" aria-hidden="true"></i>
      <h5 class="card-title">24 case</h5>
      ระหว่างดำเนินการ</a>
    <a class="btn btn-green" >
      <i class="fa fa-map pr-2" aria-hidden="true"></i>
      <h5 class="card-title">1009 case</h5>
      เรียบร้อบ</a>
  </div>

  <div class="list-group ">
    <a class="btn btn-elegant">
      <i class="fa fa-user-o pr-2" aria-hidden="true"></i>หน่วยที่ใช้บริการ</a>
    <a class="btn btn-unique">
      <i class="fa fa-hospital-o pr-2" aria-hidden="true"></i>ออนไลน์</a>
    <a class="btn btn-pink pr-2">
      <i class="fa fa-heartbeat pr-2" aria-hidden="true"></i>ออฟไลน์</a>
  </div>

</div>


<body class="">
  <div id="map"></div>
</body>
